<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<qpay>
				<active>1</active>
				<model>Nology\Qpay\Model\Payment\Qpay</model>
				<order_status>pending</order_status>
				<title>Qpay</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</qpay>
		</payment>
	</default>
</config>
