<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="qpay" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Qpay</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				
				<field id="bank_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="51" translate="label" type="text">
					<label>Bank Id</label>
				</field>
				
				<field id="merchant_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="52" translate="label" type="text">
					<label>Merchant Id</label>
				</field>
				
				
				<field id="secret_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="53" translate="label" type="text">
					<label>Secret Key</label>
				</field>
				
				<field id="pay_redirect_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="54" translate="label" type="text">
					<label>Payment Redirect Url</label>
				</field>
				
				<field id="currency_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="55" translate="label" type="text">
					<label>Currency Code</label>
				</field>
				
				<field id="lang_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="56" translate="label" type="text">
					<label>Language Code</label>
				</field>
				
				<field id="national_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="56" translate="label" type="text">
					<label>National Id</label>
				</field>
				
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="99999" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<!--
				<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="textarea">
					<label>Instructions</label> 
				</field> -->
			</group>
			
			<group id="mpgs" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Doha Bank (MPGS)</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<!--
				<field id="bank_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="51" translate="label" type="text">
					<label>Bank Id</label>
				</field>
				
				<field id="merchant_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="52" translate="label" type="text">
					<label>Merchant Id</label>
				</field>
				
				
				<field id="secret_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="53" translate="label" type="text">
					<label>Secret Key</label>
				</field>
				
				<field id="pay_redirect_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="54" translate="label" type="text">
					<label>Payment Redirect Url</label>
				</field>
				
				<field id="currency_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="55" translate="label" type="text">
					<label>Currency Code</label>
				</field>
				
				<field id="lang_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="56" translate="label" type="text">
					<label>Language Code</label>
				</field>
				
				<field id="national_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="56" translate="label" type="text">
					<label>National Id</label>
				</field>
				
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="99999" translate="label" type="text">
					<label>Sort Order</label>
				</field> -->
				<!--
				<field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="textarea">
					<label>Instructions</label> 
				</field> -->
			</group>
		</section>
	</system>
</config>
